<h1>Coupon Form</h1>
<%= form_tag :coupons do %>
  <label>Store</label>
  <%= text_field_tag :"coupon[store]" %>
  <%#= text_field_tag :store %>
  <br>
  <label>Coupon Code</label>
  <%= text_field_tag :"coupon[coupon_code]" %>
  <br>
  <%= submit_tag "Submit Coupon" %>
<% end %>